@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header {
  height: 63px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 9%;
  background: #224bcf;
}

.header .logo {
  font-size: 16px;
  font-weight: bolder;
  color: #fff;
}
.header .logo i {
  padding-right: 15px;
}

#content {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 420px;
  width: 300px;
  margin: 40px auto;
  position: relative;
  display: flex;
}

#cardPile,
#cardSlots {
  margin: 0px 10px;
}

#cardPile {
  border: 1px solid black;
  width: 130px;
  height: 100%;
}

#cardSlots {
  border: 1px solid blue;
  width: 130px;
  height: 100%;
}

#cardPile div {
  width: 100px;
  height: 33px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  color: black;
  margin: 8px 8px 8px;
}

#cardSlots div {
  width: 100px;
  height: 33px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  color: black;
  margin: 8px 8px 8px;
}

#card1.correct { background: red; }
#card2.correct { background: brown; }
#card3.correct { background: orange; }
#card4.correct { background: yellow; }
#card5.correct { background: green; }
#card6.correct { background: cyan; }
#card7.correct { background: blue; }
#card8.correct { background: indigo; }
#card9.correct { background: purple; }
#card10.correct { background: violet; }
 
 
/* "You did it!" message */
#successMessage {
  position: absolute;
  left: 580px;
  top: 250px;
  width: 0;
  height: 0;
  z-index: 100;
  background: #dfd;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
}